@font-face {
  font-family: 'Canela';
  src: url('fonts/Canela-Black-Trial.otf') format('opentype');
}

@font-face {
  font-family: 'Canela Regular';
  src: url('fonts/Canela-Medium-Trial.otf') format('opentype');
}

.main {
  top: 20%;
  text-align: center;
}

.sh {
  font-family: 'Canela Regular';
}

.link {
  font-family: Canela;
  color: #1DB100;
  cursor: pointer;
}

.link:hover {
  border-bottom: 4px solid #1DB100;
  padding-bottom: 1%;

}

.bullets {
  font-size: 48px;
  cursor: pointer;
}

h1 {
  display: flex;
  justify-content: center;
  font-family: "Canela";
  margin: 8px;
}

body {
  display: flex;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  margin-left: -60px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}